.controller .button {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 5px #999;
}

.controller .button:active, .controller .button.active {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.controller .button.UP,
.controller .button.DOWN,
.controller .button.LEFT,
.controller .button.RIGHT {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    width: 30px;
    height: 30px;
    padding-top: 2px;
}

.controller .button.move:active, .controller .button.move.active{
    background-color: #269abc;
    border-color: #1b6d85;
}

.controller .button.SPACE {
    padding: 45px 45px;
    border-radius: 100%;
    background-color: #d9534f;
    top: 31px;
    left: 28px;
}

.controller .button.SPACE:active, .controller .button.SPACE.active{
    background-color: #ac2925;
    border-color: #1b6d85;
}

.controller .button.UP {
    top: 27px;
    left: 230px;
}

.controller .button.DOWN {
    top: 95px;
    left: 230px;
}

.controller .button.LEFT {
    top: 61px;
    left: 198px;
}

.controller .button.RIGHT {
    top: 61px;
    left: 261px;
}